@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ddd;
}
dl, ol, ul {
	text-decoration: none;
	margin-bottom: 0;
}

.header_wrap{
	width : 100%;
}
 .header{
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Song Myung', serif;
  margin-bottom: 80px;
}

.navbar {
	width : 100%;
}
.logo a {
  text-decoration: none;
  color: white;
}

.user_nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.user_nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.user_nav ul li a:hover {
  color: white;
}

.user_nav {
	display: inline_block;
	float: right;
}

.user_nav li{
	float: left
}
.SerchForm {
	display : inline!important;
	float: right;
}

.container {border:none}
.Ddetail_img{height:300px; overflow: hidden;}
.Ddetail_img img {height :100%; transform: translateX(-20%);}
.Dtitle_wrap {height : 20%}
.Dtext_wrap{height: 80%}
.Ddate_wrap{text-align:right}